
<h2 style="text-align:center">About Application</h2>
<div class="row">
<div class="column">
  <div class="card">
    <div class="container">
      <p class="title">Improvements</p>
      <p>User can only have one organisation meaning a user can't join multiple organisations</p>

    </div>
  </div>
</div>
</div> 