
<h2 style="text-align:center">About Application</h2>
<div class="row">
<div class="column">
  <div class="card">
    <div class="container">
      <p class="title">Design Choices</p>
      <p>Password Reset: Didn't want to expose user if user does have an account. Therefore, password reset message is vague. </p>
      <br>
      <p class="title">Improvements</p>
      <p>User can only have one organisation meaning a user can't join multiple organisations. To improve this I would of made a second table.</p>
      <p>Registration tells user if the email is in database meaning there's a security risk.</p>
      <p>Code needs to be cleaned as there shouldn't be a passwor mailer nor should there be a table called company.</p>
      <p>In shifts the hours worked column should be in a method and breaks should be taken off.</p>
    </div>
  </div>
</div>
</div> 