
<% if current_user %>
<h1><%= current_user.username %></h1>
<%= link_to "Log Out", destroy_user_session_path, method: :delete%>
<% else %>
<title>Get started</title>
<body>
<div class="container">
 <div class="d-flex justify-content-center h-100">
     <div class="card">
         <div class="card-header">
             <h3>Welcome to Andat</h3>
         <div class="card-body">
             <form>
             <%= link_to "Sign Up", new_user_registration_path %>
             <%= link_to "Sign In", new_user_session_path %>
             </form>
         </div>
         <div class="card-footer">
             <div class="d-flex justify-content-center links">
                By Eliza Fury
             </div>
         </div>
 </div>
</div>
</body>
<% end %>
