
<% if current_user %>
<h1><%= current_user.username %></h1>
<p>You are not a member of any organisations. <br>
Join an exisiting one or create a new one. </p>
<%= link_to "Log Out", destroy_user_session_path, method: :delete%>
<% else %>

<title>Get started</title>

 <!--Bootsrap 4 CDN-->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
 <!--Fontawesome CDN-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

 <!--Custom styles-->
 <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
 <div class="d-flex justify-content-center h-100">
     <div class="card">
         <div class="card-header">
             <h3>Welcome to Andat</h3>
         <div class="card-body">
             <form>
             <%= link_to "Sign Up", new_user_registration_path %>
             <%= link_to "Sign In", new_user_session_path %>
                
             </form>
         </div>
         <div class="card-footer">
             <div class="d-flex justify-content-center links">
                By Eliza Fury
             </div>
         </div>
     </div>
 </div>
</div>
</body>
<% end %>
